* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pro_card {
  width: 200px;
  height: 300px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}
